/build
/third_party
/Doxyfile
/src/.vscode
/x64/Debug
/.vs
/core_env
/core_haptics
/core_meshing
/core_physics
/core_scene
/core_viz
/core_world
/Rewrite
/tests
/docs/.html
/docs/latex
docs/project_notes/.obsidian/workspace.json
docs/project_notes/Report/MSc_and_BEng_Dissertation_Template_the_University_of_Manchester_EEE__2_/3rd Yr Project.rtf
docs/project_notes/Report/MSc_and_BEng_Dissertation_Template_the_University_of_Manchester_EEE__2_/main.aux
docs/project_notes/Report/MSc_and_BEng_Dissertation_Template_the_University_of_Manchester_EEE__2_/main.bbl
docs/project_notes/Report/MSc_and_BEng_Dissertation_Template_the_University_of_Manchester_EEE__2_/main.bcf
docs/project_notes/Report/MSc_and_BEng_Dissertation_Template_the_University_of_Manchester_EEE__2_/main.blg
docs/project_notes/Report/MSc_and_BEng_Dissertation_Template_the_University_of_Manchester_EEE__2_/main.log
docs/project_notes/Report/MSc_and_BEng_Dissertation_Template_the_University_of_Manchester_EEE__2_/main.synctex.gz
docs/project_notes/Report/MSc_and_BEng_Dissertation_Template_the_University_of_Manchester_EEE__2_/pdfa.xmpi
/firmware/.vscode
/firmware/build